*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --red: #E63C3D;
    --red2: #af2626;
    --white: #F1F1F1;
    --gray: #606060;
}
body, html{
    background-color: var(--white);
    overflow-x: hidden;
}


header{
    position: absolute;   
    top: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10vw;
    z-index: 1;
}
header img.logo{
    height: 2rem;
    width: auto;
}
header a{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--red);
}
    header a:hover{
        box-shadow: 0px 0px 10px var(--red);
        background-color: var(--red2);
        transition: all 300ms;
}
header a img{
    width: 1.5rem;
    height: 1.5rem;
}
header a p{
    font: 700 0.8rem 'Montserrat';
    color: var(--white);
}



section.home{
    width: 100vw;
    height: 100vh;
    background: url(assets/img-home.png);
    background-size: cover;
    background-position: 65%;
    padding: 20vh 10vw;
    position: relative;
}
section.home h1{
    font: 700 2rem 'Montserrat';
    color: var(--white);
    text-align: center;
}
section.home ul{
    margin-top: 1rem;
}
section.home ul li{
    display: flex;
    gap: 0.2rem;
    justify-content: center;
}
section.home ul li img{
    width: 1rem;
}
section.home ul li p{
    font: 500 1rem 'Montserrat';
    color: var(--white);
}
section.home a {
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-inline: auto;
    border-radius: 15px;
    background-color: var(--red);
}
    section.home a:hover{
        box-shadow: 0px 0px 10px var(--red);
        background-color: var(--red2);
        transition: all 300ms;
}
section.home a img{
    width: 1.5rem;
    height: 1.5rem;
}
section.home a p{
    font: 700 0.8rem 'Montserrat';
    color: var(--white);
}
section.home div.numbers{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
section.home div.numbers div.wrapper{
    width: 30%;
}
section.home div.numbers div.wrapper p.number{
    font: 900 1.5rem 'Montserrat';
    color: var(--red);
    text-align: center;
}
section.home div.numbers div.wrapper p.description{
    text-align: center;
    font: 400 1rem 'Montserrat';
    color: var(--white);
}



section.available{
    padding: 5vh 10vw;
    background-color: var(--red2);
}
section.available h2{
    font: 700 2rem 'Montserrat';
    color: var(--white);
    text-align: center;
}
section.available p.legend{
    font: 400 1.3rem 'Montserrat';
    color: var(--white);
    text-align: center;
    margin-top: 1rem;
}
section.available div.wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
section.available div.wrapper img{
    width: 100%;
    animation: opacity2 500ms;
}  
section.available div.wrapper div.text a{
    display: block;
    font: 700 1rem 'Montserrat';
    background-color: var(--white);
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    color: var(--red);
    margin-top: 1rem;
}
    section.available div.wrapper div.text a:hover{
        box-shadow: 0px 0px 10px var(--red);
        background-color: var(--red);
        color: var(--white);
        transition: all 300ms;
}


div.stripWrapper{
    position: relative;
}
div.stripWrapper img.security{
    height: 12vh;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}
div.strip{
    width: max-content;
    display: flex;
    align-items: center;
    background-color: var(--red2);
    height: 8vh;
    gap: 1rem;
    overflow: hidden;
    border-block: 2px solid var(--red);
    animation: slide 15s linear infinite;
}
div.strip img.security{
    height: 1rem;
    top: 0;
}
div.strip p{
    width: 11rem;
    text-align: center;
    font: 700 0.8rem 'Montserrat';
    color: var(--white);
}
div.strip img{
    width: 0.6rem;
    transform: rotate(180deg);
}



section.about{
    padding: 10vh 10vw;
    background-color: var(--white);
}
section.about div.row{
    display: flex;
    flex-direction: column;
}
section.about div.row div.text h3{
    font: 700 2rem 'Montserrat';
    color: var(--red);
}
section.about div.row div.text p.legend{
    font: 400 1rem 'Montserrat';
    color: black;
    margin-top: 2rem;
}
section.about div.row div.text a{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    border-radius: 15px;
    font: 600 0.8rem 'Montserrat';
    background-color: var(--red);
    color: var(--white);
}
    section.about div.row div.text a:hover{
        background-color: var(--red2);
        box-shadow: 0px 0px 10px var(--red);
        transition: all 300ms;

    }
section.about div.row div.text a img{
    width: 30px;
    height: 30px;
}
section.about div.row img.image{
    display: none;
}
section.about div.row div.text ul li{
    font: 400 1rem 'Montserrat';
    color: black;
    margin-top: 0.5rem;
    margin-left: 2rem;
}
section.about div.row div.text ul li span{
    font-weight: 700;
}


section.comments{
    padding: 10vh 10vw;
    background-color: white;
    overflow-x: hidden;
}
section.comments h2{
    font: 700 2rem "Montserrat";
    color: var(--red);
    text-align: center;
}
section.comments div.carousel{
    overflow-x: hidden;
}
section.comments div.carousel div.carousel-content{
    display: flex;
    width: max-content;
    gap: 10vw;
    overflow-x: hidden;
    margin-top: 5vh;
    transition: transform 300ms;
}
section.comments div.carousel div.carousel-content div.card-comment{
    width: 80vw;
    height: min-content;
    background-color: #E4E4E4;
    padding: 2rem;
    border-radius: 15px;
}
section.comments div.carousel div.carousel-content div.card-comment img{
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 100px;
    margin-inline: auto;
}
section.comments div.carousel div.carousel-content div.card-comment p.name{
    margin-top: 1rem;
    text-align: center;
    font: 700 1rem "Montserrat";
    color: black;
}
section.comments div.carousel div.carousel-content div.card-comment p.tag{
    margin-top: 1rem;
    text-align: center;
    font: 500 0.8rem "Montserrat";
    padding: 0.5rem;
    color: var(--red);
    border: 1px solid var(--red);
    width: max-content;
    margin-inline: auto;
    border-radius: 50px;
    background-color: #dac2c2;
}
section.comments div.carousel div.carousel-content div.card-comment p.comment{
    font: 400 1rem "Montserrat";
    color: black;
    margin-top: 1rem;
    text-align: center;
}
section.comments div.buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 5vh;
}
section.comments div.buttons button{
    border: none;
    border-radius: 10px;
    padding: 1rem;
    background-color: #E4E4E4;
}
    section.comments div.buttons button:hover{
        background-color: var(--red);
        transition: all 300ms;
    }
    section.comments div.buttons button:hover img{
        filter: brightness(100);
}
section.comments div.buttons button img{
    height: 2rem;
}
section.comments div.buttons button.prev-btn img{
    transform: rotate(180deg);
}



section.steps{
    padding: 10vh 10vw;
}
section.steps h2{
    font: 700 2rem "Montserrat";
    color: var(--red);
    text-align: center;
}
section.steps div.carousel2{
    overflow-x: hidden;
}
section.steps div.carousel2 div.carousel-content2{
    display: flex;
    width: max-content;
    gap: 10vw;
    overflow-x: hidden;
    margin-top: 5vh;
    transition: transform 300ms;
}
section.steps div.carousel2 div.carousel-content2 div.product{
    width: 80vw;
    height: min-content;
    background-color: var(--red);
    padding: 2rem;
    border-radius: 15px;
}
section.steps div.carousel2 div.carousel-content2 div.product p.title{
    font: 700 1.2rem 'Montserrat';
    text-align: center;
    color: var(--white);
}
section.steps div.carousel2 div.carousel-content2 div.product p.description{
    font: 400 1rem 'Montserrat';
    text-align: center;
    color: var(--white);
    margin-top: 1rem;
}
section.steps a.button{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    border-radius: 15px;
    font: 600 0.8rem 'Montserrat';
    background-color: var(--red);
    color: var(--white);
}
    section.steps a.button:hover{
        background-color: var(--red2);
        box-shadow: 0px 0px 10px var(--red);
        transition: all 300ms;
    }
section.steps a.button img{
    width: 30px;
    height: 30px;
}
section.steps div.buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 5vh;
}
section.steps div.buttons button{
    border: none;
    border-radius: 10px;
    padding: 1rem;
    background-color: #E4E4E4;
}
section.steps div.buttons button:hover{
    background-color: var(--red);
    transition: all 300ms;
}
section.steps div.buttons button:hover img{
    filter: brightness(100);
}
section.steps div.buttons button img{
height: 2rem;
}
section.steps div.buttons button.prev-btn2 img{
transform: rotate(180deg);
}



section.FAQ{
    padding: 10vh 10vw;
    background-color: var(--white);
}
section.FAQ h2{
    text-align: center;
    font: 700 2rem 'Montserrat';
    color: var(--red);
}
section.FAQ details{
    margin-top: 2rem;
    border-bottom: 1px solid var(--red);
    padding-bottom: 2rem;
    text-align: left;
}
section.FAQ details summary{
    font: 700 1rem 'Montserrat';
    color: var(--red2);
    display: flex;
    justify-content: space-between;
    text-align: left;
}
section.FAQ details p{
    font: 400 1rem 'Montserrat';
    color: black;
    margin-top: 1rem;
}
section.FAQ details p span.bold{
    font-weight: 700;
}
section.FAQ details summary::marker{
    content: "";
    font-size: 0;
    color: transparent;
    opacity: 0;
}
section.FAQ details summary span::after{
    content: '+';
}
section.FAQ details[open] summary span::after{
    content: "-";
}
section.FAQ details summary::-webkit-details-marker {
    display: none;
}



footer{
    padding: 10vh 10vw;
    background-color: var(--red);
}
footer div.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer div.top img{
    width: 70px;
}
footer div.top div.infos p.CNPJ{
    font: 600 0.7rem 'Montserrat';
    color: var(--white);
}
footer div.top div.infos p.tel{
    margin-top: 1rem;
    font: 600 0.7rem 'Montserrat';
    color: var(--white);
    width: 100%;
    text-align: right;
}
footer p.credits{
    margin-top: 2rem;
    color: var(--white);
    font: 400 1rem 'Montserrat';
    display: block;
    margin-inline: auto;
    text-align: center;
}



section.home.animated-item,
section.available.animated-item,
section.about.animated-item,
section.comments.animated-item,
section.steps.animated-item,
section.FAQ.animated-item{
    opacity: 0;
    transform: translate(-50px);
}
section.home.animated-item.visible,
section.available.animated-item.visible,
section.about.animated-item.visible,
section.comments.animated-item.visible,
section.steps.animated-item.visible,
section.FAQ.animated-item.visible{
    opacity: 1;
    transform: translate(0);
    transition: all 1s;
}




@keyframes slide{
    0%{transform: translate(calc((12.6rem + 1rem) * (-1)));}
    100%{transform: translate(calc((12.6rem + 1rem) * (-5)));}
}
@keyframes opacity{
    0%{opacity: 0; transform: translate(70px);}
    100%{opacity: 1; transform: translate(0);}    
}
@keyframes opacity2{
    0%{opacity: 0; transform: translate(-70px);}
    100%{opacity: 1; transform: translate(0);}    
}

